.container {
    display: flex;
    font-family: 'Roboto Mono', monospace;
}

.inner-container {
    padding: 30px;
}

.inner-container:last-child{
    padding-right: 200px;
    padding-left: 30px;
}

.muted{
    color: gray;
}