.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}

.inner-container {
    padding: 30px;
}

.inner-container:last-child{
    padding-right: 200px;
}

.muted{
    color: gray;
}